/* custom.scss */
@import './style/variables.scss';
@import '~bootstrap/scss/bootstrap';

.app-main.light {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --terciary: var(--terciary-light);
  --success: var(--success-light);
  --info: var(--info-light);
  --warning: var(--warning-light);
  --danger: var(--danger-light);
  --light: var(--light-light);
  --dark: var(--dark-light);
  --background: var(--background-light);
  --accent: var(--accent-light);
}

.app-main.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --terciary: var(--terciary-dark);
  --success: var(--success-dark);
  --info: var(--info-dark);
  --warning: var(--warning-dark);
  --danger: var(--danger-dark);
  --light: var(--light-dark);
  --dark: var(--dark-dark);
  --background: var(--background-dark);
  --accent: var(--accent-dark);
}

.btn {
  &.light {
    background-color: var(--primary-light);
    border-color: var(--secondary-light);
    color: var(--accent-light);

    &:hover {
      background-color: var(--success-light);
      border-color: var(--success-light);
    }
  }

  &.dark {
    background-color: var(--primary-dark);
    border-color: var(--secondary-dark);
    color: var(--accent-dark);

    &:hover {
      background-color: var(--success-dark);
      border-color: var(--success-dark);
    }
  }
}

.card {
  &.light {
    background-color: var(--primary-light);
    color: var(--light-light);

    .card-header {
      color: var(--accent-light);
    }

    .card-subtitle {
      color: var(--accent-light);
    }

    .card-text {
      color: var(--accent-light);
    }

    .card-footer {
      color: var(--accent-light);
    }

    .social-link {
      color: var(--terciary-light);

      &:hover {
        color: var(--success-light);
      }
    }
  }

  &.dark {
    background-color: var(--primary-dark);
    color: var(--light-dark);

    .card-header {
      color: var(--accent-dark);
    }

    .card-subtitle {
      color: var(--accent-dark);
    }

    .card-text {
      color: var(--accent-dark);
    }

    .card-footer {
      color: var(--accent-dark);
    }

    .social-link {
      color: var(--terciary-dark);

      &:hover {
        color: var(--success-light);
      }
    }
  }
}