$primary: #8a2be2;
$secondary: #ffbf00;
$terciary: #8a2be2;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$background: #616161;
$accent : #da6d25;